<template>
  <div class="container">


    <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
            style="height: 100vh; width: 100vw; position: fixed; left: 0; top: 0;">

      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>

      <vl-layer-heatmap id="hm">
        <vl-source-vector
          url="/data.json">
        </vl-source-vector>
      </vl-layer-heatmap>

      <vl-feature>
        <vl-geom-multi-point :coordinates="[[-0.92051,41.66793],[41.66769,-0.92074],[41.66789,-0.92066]]"></vl-geom-multi-point>
      </vl-feature>

      <vl-view :zoom.sync="zoom" :max-zoom.sync="maxZoom" :min-zoom.sync="minZoom" :center.sync="center" :rotation.sync="rotation"></vl-view>
    </vl-map>

  </div>
</template>

<script>
    export default {
        data() {
            return {
                zoom: 3,
                maxZoom: 5,
                minZoom: 3,
                center: [0, 0],
                rotation: 0
            }
        },
        components: {}
    }
</script>
